* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inria Sans", sans-serif;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 16rem auto;
    grid-template-rows: 12rem auto;
    height: 100vh;
}


.dashboard {
    grid-row: span 2;
    background-color: #563d38;
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: repeat(14, 40px);
    color: white;
    padding-top: 1rem;
}


.projects {
    background-color: #fdfcfa;
}

.dashboard-svg {
    height: 40px;
    width: 40px;
    fill: white;
}

.logo {
    height: 20px;
    width: 20px;
    fill: white;
}

.dash-logo {
    display: flex;
    justify-content: center;
    align-items: end;
}

.dash-text {
    display: flex;
    align-items: end;
    font-size: 13px;
}

.dashboard-text {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.dashboard-logo {
    display: flex;
    align-items: center;
}

a:hover {
    font-size: 22px;
    color: #ffd966;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.intro {
    background-color: #b81f3e;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 70px 10px 50px;
}

.search {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

#search {
    border-radius: 14px;
    width: 90%;
    border-style: none;
    outline: none;
    padding: 6px 10px 6px 10px;
}

.magni-logo {
    height: 22px;
    width: 22px;
    fill: white;
}

.bell-logo {
    height: 22px;
    width: 22px;
    fill: white;
}

.profile-icon {
    display: flex;
    justify-content: end;
}

.rengoku-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.introduction {
    padding-bottom: 10px;
}

.intro-container {
    display: grid;
    grid-template-columns: 13% 87%;
    grid-template-rows: 40% 60%;
}

.rengoku-image2 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.intro-mainpic {
    grid-row: span 2;
}

.hi-intro {
    display: flex;
    align-items: end;
}

.intro-buttons {
    display: flex;
    justify-content: end;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding-bottom: 20px;
}

button {
    padding: 10px 25px;
    width: 100px;
    border-radius: 20px;
    border: none;
    color: #c33a33;
    background-color: #fdfcfa;
    font-weight: bold;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px 200px 200px 200px;
    padding: 30px 20px;
    gap: 20px;
    color: black;
}

.project {
    background-color: silver;
    border-left: 10px red solid;
    border-radius: 10px;
    padding: 20px 15px;
}

.others-container {
    grid-row: 2 / 5;
    grid-column: 3 / 4;
}

p {
    font-size: 14px;
}