:root {
    --chestnut: #563d38;
    --maroon: #b81f3e;
    --medium-yellow: #ffd966;
    --mahogany-red: #c33a33;
    --bone: #E7decc;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inria Sans", sans-serif;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}


.dashboard {
    grid-row: span 2;
    background-color: var(--chestnut);
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: repeat(14, 40px);
    color: white;
    padding: 1rem;
}

.projects {
    background-color: white;
}

.dashboard-svg {
    height: 40px;
    width: 40px;
    fill: white;
}

.logo {
    height: 20px;
    width: 20px;
    fill: white;
}

.dash-logo {
    display: flex;
    justify-content: center;
    align-items: end;
}

.dash-text {
    display: flex;
    align-items: end;
}

.dashboard-text {
    font-size: 15px;
    display: flex;
    align-items: center;
}

.dashboard-logo {
    display: flex;
    align-items: center;
}

a:hover {
    font-size: 22px;
    color: var(--medium-yellow);
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.intro {
    background-color: var(--maroon);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 70px 10px 50px;
    box-shadow: 0px 5px 4px -1px red;
}

.search {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
}

#search {
    border-radius: 14px;
    width: 80%;
    border-style: none;
    outline: none;
    padding: 6px 10px 6px 10px;
}

.magni-logo {
    height: 22px;
    width: 22px;
    fill: white;
}

.bell-logo {
    height: 22px;
    width: 22px;
    fill: white;
}

.profile-icon {
    display: flex;
    justify-content: end;
}

.rengoku-image {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.introduction {
    padding-bottom: 10px;
}

.intro-container {
    display: grid;
    grid-template-columns: 100px 87%;
    grid-template-rows: 40% 60%;
}

.rengoku-image2 {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.intro-mainpic {
    grid-row: span 2;
}

.hi-intro {
    display: flex;
    align-items: end;
}

.intro-buttons {
    display: flex;
    justify-content: end;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding-bottom: 20px;
}

button {
    padding: 10px 25px;
    width: 100px;
    border-radius: 20px;
    border: none;
    color: var(--mahogany-red);
    background-color: white;
    font-weight: bold;
}

.project-container {
    display: grid;
    height: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr 1fr 1fr 1fr;
    padding: 30px 20px;
    gap: 10px;
    color: black;
}

.project {
    background-color: var(--bone);
    border-left: 10px red solid;
    border-radius: 10px;
    padding: 20px 20px;
    margin: 0px 10px 10px 0px;
    box-shadow: 0px 5px 4px -2px red;
}

.others-container {
    grid-row: 2 / 5;
    grid-column: 3 / 4;
}

p {
    font-size: 14px;
}

.icons {
    height: 20px;
    width: 20px;
}

.icon-buttons {
    display: flex;
    justify-content: end;
    gap: 25px;
}

.p-container {
    height: 100%;
    display: grid;
    grid-template-rows: 15% 70% 15%;
}

.projects h3 {
    color: crimson;
}

.technique {
    display: grid;
    grid-template-rows: 3fr .1fr 1fr;
    gap: 10px;
}

.technique-grid {
    background-color: var(--bone);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 4px -1px red;
}

.equipment-text {
    align-self: end;
    padding-top: 20px;
}

.announcements-text,
.projects-text {
    align-self: end;
}

.techniques {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.techniques p {
    font-size: 13px;
    padding-bottom: 7px;
}

.techniques h4 {
    padding-top: 7px;
}

.weapon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding-right: 10px;
}

.equipment {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.equipment p {
    font-size: 13px;
}

strong {
    color: var(--mahogany-red);
}

@media screen and (min-width: 1170px) {
    .technique {
        grid-template-rows: 2.5fr .1fr 1fr;
    }
}